/* GENERAL STYLES */

/* Self hosted fonts used on website */
/* inter-regular - latin */
@font-face {
  /* 
  font-display: How does browser react before font is loaded? 
  https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/inter-v20-latin-regular.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/inter-v20-latin-600.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/inter-v20-latin-700.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ALTERNATIVE RESET 

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

*/

/* 1rem: 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #141414;
  /* Fixing cut content from the top of the card in small screens (landscape mode) */
  /* width: 100vw; */
  min-height: 100vh;
  padding: 5rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text Preset 2 */
.inter-small {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0px;
}

/* Text Preset 2 Bold */
.inter-small-bold {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
}

/* Text Preset 1 */
.inter-large-bold {
  font-size: 2.4rem;
  line-height: 150%;
  letter-spacing: 0px;
}

.margin-bottom-md {
  margin-bottom: 2.4rem;
}

/* COMPONENT STYLES */

.profile-card {
  max-width: 38.4rem;
  padding: 4rem;
  border-radius: 10px;

  background-color: #1f1f1f;
}

.profile-header {
  text-align: center;
}

.profile-img {
  max-width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%;
}

.profile-name {
  color: #fff;
}

.profile-location {
  color: #c4f82a;
}

.profile-description {
  color: #fff;
}

.social-profile-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.social-profile-list li {
  list-style-type: none;
}

.social-profile:link,
.social-profile:visited {
  display: inline-block;
  width: 100%;
  padding: 1.2rem 0;
  border-radius: 8px;

  background-color: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;

  /* Smoother transition when hovered or active */
  transition: all 0.3s;
}

.social-profile:hover,
.social-profile:active {
  background-color: #c4f82a;
  color: #333;
}

/* Tablets, 375px */
@media (max-width: 24rem) {
  .profile-card {
    margin: 0 2.4rem;
  }
}
