/* GENERAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 1rem: 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #141414;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text Preset 2 */
.inter-small {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0px;
}

/* Text Preset 2 Bold */
.inter-small-bold {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
}

/* Text Preset 1 */
.inter-large-bold {
  font-size: 2.4rem;
  line-height: 150%;
  letter-spacing: 0px;
}

.margin-bottom-md {
  margin-bottom: 2.4rem;
}

/* COMPONENT STYLES */

.profile-card {
  width: 38.4rem;
  padding: 4rem;
  border-radius: 10px;

  background-color: #1f1f1f;
}

.profile-header {
  text-align: center;
}

.profile-img {
  width: 8.8rem;
  border-radius: 50%;
}

.profile-name {
  color: #fff;
}

.profile-location {
  color: #c4f82a;
}

.profile-description {
  color: #fff;
}

.social-profile-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.social-profile-list li {
  list-style-type: none;
}

.social-profile:link,
.social-profile:visited {
  display: inline-block;
  width: 100%;
  padding: 1.2rem 0;
  border-radius: 8px;

  background-color: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.social-profile:hover,
.social-profile:active {
  background-color: #c4f82a;
  color: #333;
}

/* Tablets, 375px */
@media (max-width: 24rem) {
  .profile-card {
    margin: 11.65rem 2.4rem;
  }
}
